{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

    <div class="container">
    {% for sub in allSubs %}
      <ul>
        <img class = 'pics' src = {{sub.githubImage}} >
        <li>{{sub.githubName}}</li>
        <li><a href={{sub.githubURL}}>Link to GitHub </a></li>
      </ul>

    {% endfor %}

    <form method = "post" action = "/reset">
      <input type="submit" value= "Start Again!" class="btn btn-default"></input>
    </form>


  </div>

{% endblock %}
