{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Final Round!</h1>
    <p>Let's see who will win it all!</p>

    <table>
      <tr>
      {% for sub in allSubs %}
        <td>
          <ul>
            <img class = 'pics' src = {{sub.githubImage}} >
            <li>{{sub.githubName}}</li>
            <li><a href={{sub.githubURL}}>Link to GitHub </a></li>
          </ul>
        <form method = "post" action = "/tallyVotes3/{{sub.githubID}}">
          <input type="submit" id={{sub.githubID}} value= "Vote for {{sub.githubName}}!" class="btn btn-default"></input>
        </form>
        </td>
      {% endfor %}
      </tr>
    </table>

    <form method = "post" action = "/findFinalWinner">
      <input type="submit" value= "Let's see who won!" class="btn btn-default"></input>
    </form>

  </div>

{% endblock %}
