{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Current Submissions</h1>

      <div class = "row">

        {% for sub in allSubs %}

        <div class = "col-md-6">
        <ul>
          <img class = 'pics' src = {{sub.githubImage}} >
          <li>{{sub.githubName}}</li>
          <li><a href={{sub.githubURL}}>Link to GitHub </a></li>
        </ul>
      </div>
      {% endfor %}
      </div>

  <form method = "post" action = "/addContestant">
      <input type="submit" value="Add Another Contestant" class="btn btn-default"></input>
  </form>
  <br>

  <form method = "post" action = "/voteRedirect">
    <input type="submit" value="Let's get Voting!" class="btn btn-default"></input>
  </form>

  {% for error in errorArray%}
    <ul>
    <li class='error'>{{error}}</li>
    </ul>

    {% endfor %}
  </div>

{% endblock %}
