{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>Round 1 Winners!</h1>
    <p>Let's see who will win round 2.</p>

    {% for sub in allSubs %}
    <div>
      <ul>
    <img class = 'pics' src = {{sub.githubImage}} >
    <li>GitHub Name: {{sub.githubName}}</li>
    <li>GitHub URL: {{sub.githubURL}}</li>
    </ul>

    <form method = "post" action = "/tallyVotes2/{{sub.githubID}}">
      <input type="submit" id={{sub.githubID}} value= "Vote for {{sub.githubName}}!" class="btn btn-default"></input>
    </form>

    <p>{{message}}</p>

    </div>
    {% endfor %}

    <form method = "post" action = "/findWinner2">
      <input type="submit" value= "Let's see who won!" class="btn btn-default"></input>
    </form>


  </div>

{% endblock %}
