{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>GitHub Contest!</h1>
    <p>Let's get voting.</p>

   <table>
    <tr class = "thinner">
    {% for sub in allSubs %}
    <td>
    <ul>
      <img class = 'pics' src = {{sub.githubImage}} >
      <li>{{sub.githubName}}</li>
      <li><a href={{sub.githubURL}}>Link to GitHub </a></li>
    </ul>
    </td>
    </tr>
  </table>

    <form method = "post" action = "/tallyVotes/{{sub.githubID}}">
      <input type="submit" id={{sub.githubID}} value= "Vote for {{sub.githubName}}!" class="btn btn-default"></input>
    </form>

    <p>{{message}}</p>

    </div>
    {% endfor %}

    <form method = "post" action = "/findWinner">
      <input type="submit" value= "Let's see who won!" class="btn btn-default"></input>
    </form>


  </div>

{% endblock %}
