body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pics{
  height: 100px;
  padding-bottom: 10px;
}

.error{
  color:red;
}

ul{
  width: 150px;
}

td{
  padding:20px;
}

.smaller{
  width: 500px;
}

.controller{
  width: 500px;
}
